body {
  text-align: center;
  color:#D2D7DF;
  font-family: Berlin;
  background-image: url("../Tortoise-Shell.svg");
  background-color: #353535;
}

.hr1 {
  color:#6AB547;
}

.bdr1 {

  border:3px;
  border-style:solid;
  border-color:#FFFFFF;
  padding: 0.5em;
}
